html body {
  font-family: "lato", sans-serif;
}

.navdiv {
  width: 100%;
  background-color: #C0C0C0;
  border-bottom: 8px white;
}

.nav {
  list-style-type: none;
  background-color: #C0C0C0;
  margin: 0;
  padding: 0;
  border-bottom: 8px white;
}

.navli:last-child {
  float: right;
}

.navli {
  display: inline-block;
  float: left;
  background-color: #C0C0C0;
}

.big-nav, .active-big-nav {
  display: block;
  width: auto;
  padding: 30px;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: #C0C0C0;
  border-bottom: 8px white;
}

.big-nav:hover, .active-big-nav:hover {
  background-color: lightblue !important;
}

.active-big-nav {
  background-color: #005b9a !important;
}

.big-nav:link, .big-nav:visited, .big-nav:active, .active-big-nav:link, .active-big-nav:visited, .active-big-nav:active {
  color: black;
  text-decoration: none;
}

.combine {
  width: 45%;
}

.ingredients {
  width: 100%;
}

.webjpg {
  width: 100%;
  height: auto;
}

.mprojnav {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.mprojnav:hover {
  color: blue;
}
