html body {
  font-family: "lato", sans-serif;
}

.navdiv {
  width: 100%;
  background-color: #C0C0C0;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navli {
  display: inline;
  float: left;
  background-color: #C0C0C0;
}

.big-nav, .active-big-nav {
  display: block;
  width: auto;
  padding: 30px;
  font-size: 20px;
  text-align: center;
  color: black;
}

.big-nav:hover, .active-big-nav:hover {
  background-color: lightblue !important;
}

.active-big-nav {
  background-color: #005b9a !important;
}

.big-nav:link, .big-nav:visited, .big-nav:active, .active-big-nav:link, .active-big-nav:visited, .active-big-nav:active {
  color: black;
  text-decoration: none;
}
